<link rel="stylesheet" href="/css/styles.css">
<form>
  <h2>New event</h2>
  <fieldset>
    <br>
    <input type="text" name="description" required placeholder="Description of the event">
    <br>
    <input type="time" name="hora" required placeholder="what time does it start?">
    <br>
    <input type="date" name="date" required>
  </fieldset>
  <fieldset disabled class="hidden">
    <label for="entry">entry</label>
    <input type="hidden" name="entry"> 
    <span class="support">This will be populated on submit</span>
  </fieldset>
  <input class="boton" type="submit" value="Enter">
  <br><br><br><br><br>
</form>


