<form>
  <h2>New event</h2>
  <fieldset>
    <label for="description">Description</label>
    <input type="text" name="description" required placeholder="Description of the event">
    <label for="hora">Hora</label>
    <input type="time" name="hora" required placeholder="what time does it start?">
    <label for="hora">Date</label>
    <input type="date" name="date" required>
  </fieldset>
  <fieldset disabled class="hidden">
    <label for="entry">entry</label>
    <input type="hidden" name="entry"> 
    <span class="support">This will be populated on submit</span>
  </fieldset>
  <input type="submit" value="Enter">
</form>

