<tr data-data>
    <td data-value="uuid"></td>
    <td data-value="description"></td>
    <td data-value="status"></td>
    <!-- Period related probably we can use calculated values here -->
    <td data-value="start"></td>
    <td data-value="end"></td>
    <td data-value="due"></td>
    <!-- Organization related -->
    <td data-value="project"></td>
    <td data-value="tags"></td>
    <td data-value="priority"></td>
    <!-- Organization related -->
    <td data-value="depends.length"></td>
    <td data-value="annotation.length"></td>
</tr>
